<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.meisapps.PulseUnlock.bthelper</string>
	<key>CFBundleName</key>
	<string>PulseUnlock Bluetooth Helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Required for unlocking with phones using bluetooth.</string>
</dict>
</plist>
